<div class="container w-1/2 border-2 border-sky-900 mx-auto mt-10 rounded-md p-5 bg-gray-700">
  <div class="w-full rounded-md mx-auto p-3 mb-5 bg-red-600">
    <h1 class="text-center text-3xl font-semibold text-white">CALCULADORA</h1>
  </div>
  <div class="m-2">
    <label class="mr-5 p-2 text-xl font-semibold text-white" for="valor1">Ingrese primer valor:</label>
    <input type="number" id="valor1" class="w-1/2 border-2 border-sky-900 rounded-md p-2"
      [(ngModel)]="valor1" #a>
  </div>
  <div class="m-2">
    <label for="valor2" class="mr-1 p-2 text-xl font-semibold text-white" >Ingrese segundo valor:</label>
    <input type="number" id="valor2" class="w-1/2 border-2 border-sky-900 rounded-md p-2"
      [(ngModel)]="valor2" #b>
  </div>
  <div class="m-2 my-5 p-2">
    <select class="form-select border-2 border-sky-900 rounded-md p-2 px-5 text-xl " #select (click)="mostrar()">
      <option value="1">Sumar</option>
      <option value="2">Restar</option>
      <option value="3">Dividir</option>
      <option value="4">Multiplicar</option>
      <option value="5" selected>Elija una opcion</option>
    </select>
  </div>
  <div class="m-4">
    <p [ngSwitch]="select.value" class="text-xl font-semibold text-white">Resultado:
      <span [ngStyle]="{'color':'red'}" *ngSwitchCase="5">No eligio operación</span>
      <span [ngStyle]="{'color':'blue'}" *ngSwitchCase="1">{{valor1+valor2}}</span>
      <span [ngStyle]="{'color':'green'}" *ngSwitchCase="2">{{valor1-valor2}}</span>
      <span [ngStyle]="{'color':'purple'}" *ngSwitchCase="3">{{valor1/valor2}}</span>
      <span [ngStyle]="{'color':'orange'}" *ngSwitchCase="4">{{valor1*valor2}}</span>

    </p>
  </div>
</div>